<template>
  <div>
    <h5>Add new Course</h5>
    <form class="b-form" @submit.prevent="onSave($event)">
        <b-form-group
            id="fieldset1"
            description="Enter name of course."
            label="Name of course"
            label-for="input1"
            >
            <b-form-input id="input1" trim name="name" />
        </b-form-group>

        <b-form-group
            id="fieldset1"
            description="Enter code of course."
            label="Code of course"
            label-for="input1"
            >
            <b-form-input id="input1" trim name="code" />
        </b-form-group>
        <b-row>
            <b-col lg="2" class="pb-2">
                <b-button variant="success" size="lg" type="submit">
                    Save
                </b-button>
            </b-col>
            <b-col lg="2" class="pb-2">
                <b-button variant="outline-primary" size="lg" to="/">
                    Cansel
                </b-button>
            </b-col>
        </b-row>
    </form>   
  </div>    
</template>

<script>  
  export default {
    data: () => ({
        name: '',
        code: '',
    }),

    methods: {
        randomId(){
            return Math.floor(Math.random()*10000);
        },

        onSave(event) {
            let form = new FormData(event.target);

            this.name = form.get("name");
            this.code = form.get("code");

            this.$store.dispatch('addItem', {id: this.randomId(), name: this.name, code: this.code, students: []});
            localStorage.setItem("courses", JSON.stringify(this.$store.getters.courses));
            this.$router.push({ path: '/'});
        }
    }
  }
</script>

<style lang="scss">
    .b-form__label {
        display: block;
    }
</style>
