<template>
  <div>      
    <h5>Edit course "{{ name }}"</h5>
    <form class="b-form" @submit.prevent="onSave($event)">
        <b-form-group
            id="fieldset1"
            description="Enter name of course."
            label="Name of course"
            label-for="input1"            
            >
            <b-form-input id="input1" trim name="name" v-model="name" />
        </b-form-group>

        <b-form-group
            id="fieldset1"
            description="Enter code of course."
            label="Code of course"
            label-for="input1"            
            >
            <b-form-input id="input1" trim name="code" v-model="code" />
        </b-form-group>
        <b-row>
            <b-col lg="2" class="pb-2">
                <b-button variant="success" size="lg" type="submit">
                    Save
                </b-button>
            </b-col>
            <b-col lg="2" class="pb-2">
                <b-button variant="outline-primary" size="lg" to="/">
                    Cansel
                </b-button>                
            </b-col>
        </b-row>
    </form>
  </div>    
</template>

<script>  
  export default {
    data: () => ({
        idx: null,
        name: '',
        code: '',
    }),

    created() {
        let curId = Number(this.$route.params.id);
        this.idx = this.$store.getters.getCurIdx(curId);

        if(this.$store.getters.courses[this.idx]) {
            this.name = this.$store.getters.courses[this.idx].name;
            this.code = this.$store.getters.courses[this.idx].code;
        }
        else {
            this.$router.push({ path: '/'});
        }
    },

    methods: {
        
        onSave(event) {
            this.$store.dispatch('editItem', {id: this.idx, name: this.name, code: this.code});
            localStorage.setItem("courses", JSON.stringify(this.$store.getters.courses));
            this.$router.push({ path: '/'});
        }
    }
  }
</script>

<style lang="scss">
    .b-form__label {
        display: block;
    }
</style>
