<template>
  <div>
    <header class="b-header b-header__control">
      <router-link to="/add_course">+ Add Course</router-link>
    </header>    

    <div class="control-panel control-panel__wrapper">
      <div class="search search__wrapper">
        <Search />
      </div>
      <div>
          <div>
            <b-form-select v-model="selected" :options="options" size="sm" class="mt-3"></b-form-select>
          </div>
      </div>
    </div>

    <h5 class="title title__page">Courses</h5>



    <table class="b-table b-table__full-size b-table_pad_10">
      <thead class="b-table__header">
        <td>Name</td>
        <td>Code</td>
        <td class="b-table__small-td"></td>
        <td class="b-table__small-td"></td>
      </thead>
      <tr v-for="(item, index) in coursesList" v-bind:key="index" :id="item.id" class="b-table__list-item">
        <td>
          <router-link :to="'/students/' + item.id">{{item.name}}</router-link>          
        </td>
        <td>
          {{item.code}}
        </td>
        <td>
          <b-button variant="outline-primary" size="sm" @click="goToEdit(item.id)">
            Edit
          </b-button>
        </td>
        <td>
          <b-button variant="danger" size="sm" @click="onDelete($event)">
            Delete
          </b-button>
        </td>
      </tr>      
    </table>

    <hr>

    <!-- <Pagination /> -->

    <div>
      <b-button-toolbar key-nav aria-label="Toolbar with button groups" class="f-j-c">
        <b-button-group class="mx-1">
          <b-button
            @click="goToPrevPage"
            :disabled="arrowsFlag.prev"
          >
            &lsaquo;
          </b-button>
        </b-button-group>
        <b-button-group class="mx-1">
          <b-button
            variant="outline-secondary"
            v-for="(number, index) in pagesNumbers"
            v-bind:key="index"
            class="m_h_5 btn_pagination"
            @click="setPage(number, $event)"
          >
            {{ number }}
          </b-button>
        </b-button-group>
        <b-button-group class="mx-1">
          <b-button
            @click="goToNextPage"
            :disabled="arrowsFlag.next"
          >
            &rsaquo;
          </b-button>
        </b-button-group>
      </b-button-toolbar>
    </div>
    
    <!-- <b-alert show dismissible> Hello! </b-alert> -->
  </div>    
</template>

<script>
  import Search from './search.vue';  
  import Pagination from './pagination.vue'; 

  export default {

    data: () => ({
      data: null,
      coursesList: [],
      firstPage: 0,
      perPage: 3,
      dataLength: 0,
      pagesNumbers: [],
      pagesButtons: document.getElementsByClassName('btn_pagination'),
      arrowsFlag: {prev: true, next: false},
      selected: 3,
      options: [
        { value: '2', text: 'Show 2 item on the page' },
        { value: '3', text: 'Show 3 item on the page' },
        { value: '4', text: 'Show 4 item on the page' },
        { value: '5', text: 'Show 5 item on the page' },
        { value: '10', text: 'Show 10 item on the page' }
      ]

    }),

    created() {
      //localStorage.removeItem("courses");
      //  localStorage.clear();

      if(localStorage.getItem("courses")) {
        this.$store.dispatch('updateCourseState', JSON.parse(localStorage.getItem("courses")));
        this.data = JSON.parse(localStorage.getItem("courses"));
        this.coursesList = this.getCollection;
      }
      else {
        fetch('./src/data/data.json', {method: 'GET'})
          .then(this.checkStatus)
          .then(this.parseJSON)
          .then((data) => {
            this.saveData(data);          
          }).catch(function(error) {
            console.log('request failed', error)
          })
      }
      // console.log(">>>>>Store", this.$store.state.courses);
      // console.log(">>>>>LS", JSON.parse(localStorage.getItem("courses")));   

    },
    mounted() {
      this.toggleClass(this.pagesButtons[this.firstPage], this.pagesButtons, "active");
    },
    
    beforeUpdate() {      
      
      if(this.perPage !== Number(this.selected)) {
        this.perPage = Number(this.selected);
        this.firstPage = 0;
        this.coursesList = this.getCollection;
        this.toggleClass(this.pagesButtons[this.firstPage], this.pagesButtons, "active");

        this.arrowsFlag.next = (this.pagesNumbers.length <= 1) ? true : false;
        this.arrowsFlag.prev = true;
      }
    },

    computed: {
      getCollection() {        
        this.dataLength = this.data.length;
        this.getPagesNumbers;
        return this.data.slice(this.firstPage, this.perPage);
      },
      getPagesNumbers() {
        let num = Math.ceil(this.dataLength / this.perPage);

        if(this.pagesNumbers.length) {
          this.pagesNumbers.splice(0, this.pagesNumbers.length);
        }

        for(let i=0; i<num; i++) {
          this.pagesNumbers.push(i + 1);
        }
      }

    },

    methods: {
      
      checkStatus(response) {
        if (response.status >= 200 && response.status < 300) {
          return response
        } else {
          let error = new Error(response.statusText);
          error.response = response;
          throw error;
        }
      },

      parseJSON(response) {
        return response.json();
      },

      saveData(data) {
        this.$store.state.courses = [...data];
        localStorage.setItem("courses", JSON.stringify(this.$store.getters.courses));
      },

      goToEdit(id) {
        this.$router.push({ name: 'edit_course', params: { id: id}});
      },

      onDelete(event) {
        let curId = Number(event.target.closest(".b-table__list-item").id);
        let curElidx = this.$store.getters.getCurIdx(curId);

        this.$store.dispatch('removeItem', {id: curElidx});
        localStorage.setItem("courses", JSON.stringify(this.$store.getters.courses));
        event.target.closest(".b-table__list-item").remove();
      },

      getPage(inc, p) {
        this.coursesList.length = 0;
        let start;

        if(p) {
          this.firstPage = p + inc;
          start = (p + inc)*this.perPage;
        }
        else {
          this.firstPage = this.firstPage + inc;
          start = this.firstPage * this.perPage;
        }       

        let end = start+this.perPage;
        this.coursesList =  this.data.slice(start, end);
      },

      setPage(p, event) {
        this.getPage(-1, p);
        this.toggleClass(event.target, this.pagesButtons, "active");
        this.arrowsFlag.next = false;
        this.arrowsFlag.prev = false;

        if(this.firstPage >= this.pagesNumbers.length-1) {
          this.arrowsFlag.next = true;
        }
        if(this.firstPage <= 0) {
          this.arrowsFlag.prev = true;
        }
      },

      goToNextPage() {
        this.getPage(1);        
        this.toggleClass(this.pagesButtons[this.firstPage], this.pagesButtons, "active");
        this.arrowsFlag.prev = false;

        if(this.firstPage >= this.pagesNumbers.length-1) {
          this.arrowsFlag.next = true;
        }
      },

      goToPrevPage() {
        this.getPage(-1);
        this.toggleClass(this.pagesButtons[this.firstPage], this.pagesButtons, "active");
        this.arrowsFlag.next = false;

        if(this.firstPage <= 0) {
          this.arrowsFlag.prev = true;
        }

      },

      toggleClass(el, collection, className) {
        for(let i=0; i<collection.length; i++) {
          collection[i].classList.remove(className);
        }
        el.classList.add("active");        

      },
    },

    components: {
      Search,
      Pagination
    }
  }
</script>

<style lang="scss">
  .b-header__control {
    margin-bottom: 50px;
    border-bottom: solid 1px #257c7c;
    padding: 20px 0;
  }
  .b-header__item {
    background: #ececec;
    padding: 10px;
  }

  .b-table__full-size {
    width: 100%;
    text-align: left;

    tr:hover {
      background: #f9f9f9;
    }
  }

  .b-table__header {
    background-color: #257c7c;
    color: white;
    font-weight: 600;
  }

  .b-table_pad_10 {
    td {
      padding: 10px;
    }
  }

  .b-table__small-td {
    width: 100px;
  }
  .m_b_20 {
    margin-bottom: 20px;
  }
  .title__page {
    text-align: center;
    margin-bottom: 20px;
  }
  .f-j-c {
    justify-content: center;
  }
  .m_h_5 {
    margin-left: 5px;
    margin-right: 5px;
  }
</style>
