<template>
    <b-button-toolbar key-nav aria-label="Toolbar with button groups" class="f-j-c">
        <b-button-group class="mx-1">
          <b-button
            @click="goToPrevPage"
            :disabled="arrowsFlag.prev"
          >
            &lsaquo;
          </b-button>
        </b-button-group>
        <b-button-group class="mx-1">
          <b-button
            variant="outline-secondary"
            v-for="(number, index) in pagesNumbers"
            v-bind:key="index"
            class="m_h_5 btn_pagination"
            @click="setPage(number, $event)"
          >
            {{ number }}
          </b-button>
        </b-button-group>
        <b-button-group class="mx-1">
          <b-button
            @click="goToNextPage"
            :disabled="arrowsFlag.next"
          >
            &rsaquo;
          </b-button>
        </b-button-group>
      </b-button-toolbar>
</template>

<script>  
  export default {
    data: () => ({
        data: null,
        firstPage: 0,
        dataLength: 0,
        pagesNumbers: [],
        pagesButtons: document.getElementsByClassName('btn_pagination'),
        arrowsFlag: {prev: true, next: false},
    }),
    created() {
        // console.log(">>>>LS2", JSON.parse(localStorage.getItem("courses")));

    },
    mounted() {
    },
    
    computed: {
      getCollection() {        
        this.dataLength = this.data.length;
        this.getPagesNumbers;        
        return this.data.slice(this.firstPage, this.perPage);
      },
      getPagesNumbers() {
        let num = Math.ceil(this.dataLength / this.perPage);

        if(this.pagesNumbers.length) {
          this.pagesNumbers.splice(0, this.pagesNumbers.length);
        }

        for(let i=0; i<num; i++) {
          this.pagesNumbers.push(i + 1);
        }
      }
    },
    methods: {
        getPage(inc, p) {
            this.coursesList.length = 0;
            let start;
            
            if(!p) {
            this.firstPage = this.firstPage + inc;
            start = this.firstPage * this.perPage;
            }
            else if(inc == 0) {
            start = 0;
            this.toggleClass(this.pagesButtons[start], this.pagesButtons, "active");
            }
            else {
            this.firstPage = p + inc;
            start = (p + inc)*this.perPage;
            }
            let end = start+this.perPage;
            this.coursesList =  this.data.slice(start, end);
      },

        setPage(p, event) {
            this.getPage(-1, p);
            this.toggleClass(event.target, this.pagesButtons, "active");
            this.arrowsFlag.next = false;
            this.arrowsFlag.prev = false;

            if(this.firstPage >= this.pagesNumbers.length-1) {
            this.arrowsFlag.next = true;
            }
            if(this.firstPage <= 0) {
            this.arrowsFlag.prev = true;
            }
        },

        goToNextPage() {
            this.getPage(1);        
            this.toggleClass(this.pagesButtons[this.firstPage], this.pagesButtons, "active");
            this.arrowsFlag.prev = false;

            if(this.firstPage >= this.pagesNumbers.length-1) {
            this.arrowsFlag.next = true;
            }
        },

        goToPrevPage() {
            this.getPage(-1);
            this.toggleClass(this.pagesButtons[this.firstPage], this.pagesButtons, "active");
            this.arrowsFlag.next = false;

            if(this.firstPage <= 0) {
            this.arrowsFlag.prev = true;
            }

        },
        
    },
  }
</script>

<style lang="scss">

</style>