<template>
    <!-- <b-form-input v-model="text1" type="text" placeholder="Enter your name" />   -->
    <input>
</template>

<script>  
  export default {
    data: () => ({

    }),
    created() {

    },
    mounted() {
      // console.log(">>>>LS2", JSON.parse(localStorage.getItem("courses")));
    },

    methods: {

        
    },
  }
</script>

<style lang="scss">

</style>
