<template>
  <div>
    <h5>Edit student {{ name }} of "{{ courseName }}" course</h5>
    <form class="b-form" @submit.prevent="onSave()">
       <b-form-group
            id="fieldset1"
            description="Enter students full name."
            label="Full name"
            >
            <b-form-input trim name="name" v-model="name" />
        </b-form-group>

        <b-form-group
            id="fieldset1"
            description="Enter students email."
            label="Email"
            >
            <b-form-input trim name="email" v-model="email" />
        </b-form-group>

        <div class="m_b_50">
            <b-form-group
                id="fieldset1"
                description="Enter students status."               
            >
                <b-form-checkbox
                    name="status"
                    v-model="flag"
                    value="val"
                    unchecked-value=""
                >
                    Status
                </b-form-checkbox>
            </b-form-group>
        </div>
        <b-row>
            <b-col lg="2" class="pb-2">
                <b-button variant="success" size="lg" type="submit">
                    Save
                </b-button>
            </b-col>
            <b-col lg="2" class="pb-2">
                <b-button variant="outline-primary" size="lg" to="/">
                    Cansel
                </b-button>                
            </b-col>
        </b-row>
    </form>
  </div>    
</template>

<script>  
  export default {
    data: () => ({
        curId: null, //Id of student
        idx: null, // index of course in array
        data: null,
        name: '',
        courseName: '',
        email: '',
        flag: '',
        status: null,
    }),

    created() {
        this.curId = Number(this.$route.params.id);
        this.idx = Number(this.$route.params.idx);
        this.data = this.$store.getters.courses[this.idx];

        if(!this.data) {
            this.$router.push({ path: '/'});
        }
        else {
            this.courseName = this.data.name;
            this.name = this.data.students[this.curId].name;
            this.email = this.data.students[this.curId].email;
            this.status = this.data.students[this.curId].status;
            this.flag = this.getFlag;       

        }
    },

    mounted() {
        
    },

    methods: {
        
        onSave() {
            this.$store.dispatch('editItem', {key: 'students', idxCourse: this.idx, idxStudents: this.curId, name: this.name, email: this.email, status: this.getStatus});
            localStorage.setItem("courses", JSON.stringify(this.$store.getters.courses));
            this.$router.back();
        },
    },
    computed: {
        getStatus() {
            return this.status = this.flag ? true : false;
        },
        getFlag() {
            return this.flag = this.status ? "val" : "";
        }
    }
  }
</script>

<style lang="scss">
    .b-form__label {
        display: block;
    }
</style>
