<template>
  <div>
    <h5>Add student to "{{ this.$store.getters.courses[this.id].name }}" course</h5>
    <form class="b-form" @submit.prevent="onSave($event)">
        <b-form-group
            id="fieldset1"
            description="Enter students full name."
            label="Full name"
            >
            <b-form-input trim name="name" v-model="name" />
        </b-form-group>

        <b-form-group
            id="fieldset1"
            description="Enter students email."
            label="Email"
            >
            <b-form-input trim name="email" v-model="email" />
        </b-form-group>

        <div class="m_b_50">
            <b-form-group
                id="fieldset1"
                description="Enter students status."               
            >
                <b-form-checkbox
                    name="status"
                    v-model="status"
                    value="true"
                    unchecked-value="false"
                >
                    Status
                </b-form-checkbox>
            </b-form-group>
        </div>

        <b-row>
            <b-col lg="2" class="pb-2">
                <b-button variant="success" size="lg" type="submit">
                    Save
                </b-button>
            </b-col>
            <b-col lg="2" class="pb-2">
                <b-button variant="outline-primary" size="lg" to="/">
                    Cansel
                </b-button>
            </b-col>
        </b-row>
    </form>   
  </div>    
</template>

<script>  
  export default {
    data: () => ({
        id: null,
        name: '',
        email: '',
        status: false,
    }),

    created() {
        this.id = Number(this.$route.params.id);
    },

    methods: {
        onSave(event) {
            let data = {name: this.name, email: this.email, status: this.status};            
            this.$store.dispatch('addItem', {key: 'students', id: this.id, data: data});
            localStorage.setItem("courses", JSON.stringify(this.$store.getters.courses));
            this.$router.back();
        }
    }
  }
</script>

<style lang="scss">
    .b-form__label {
        display: block;
    }
    .m_b_50 {
        margin-bottom: 50px;
    }
</style>
