<template>
  <div>
    <header class="b-header b-header__control">
      <router-link to="/"> Back to courses</router-link>
    </header>
    <h5 class="m_b_20">Students list of "{{ course }}" course</h5>
    <div class="b-header__item m_b_20">
      <router-link :to="{name:'add_student', params: { id: idx }}">+ Add Student</router-link>
      <!-- <div @click="addStudent()">+ Add Student</div> -->
    </div>   
      <table class="b-table b-table__full-size b-table_pad_10">
      <thead class="b-table__header">
        <td>Name</td>
        <td>Email</td>
        <td>Status</td>
        <td class="b-table__small-td"></td>
        <td class="b-table__small-td"></td>
      </thead>
      <tr v-for="(item, index) in students" v-bind:key="index" :id="index" class="b-table__list-item">
        <td>
          {{item.name}}       
        </td>
        <td>
          {{item.email}}
        </td>
        <td v-bind:class="[ item.status ? 'b-user_status_active' : 'b-user_status_inactive' ]">
          {{ getStatus(item.status) }}
        </td>
        <td>
          <b-button variant="outline-primary" size="sm" @click="goToEdit(index)">
            Edit
          </b-button>
        </td>
        <td>
          <b-button variant="danger" size="sm" @click="onDelete($event)">
            Delete
          </b-button>
        </td>
      </tr>      
    </table>   
  </div>    
</template>

<script>  
  export default {
    data: () => ({
        curId: null, //Id of course
        idx: null, // index of course in array
        course: '',
        students: [],
        status: false,
    }),
    created() {
        this.curId = Number(this.$route.params.id); 
        this.idx = this.$store.getters.getCurIdx(this.curId);

        if(this.$store.getters.courses[this.idx]) {
          this.course = this.$store.getters.courses[this.idx].name;
          this.students = this.$store.getters.courses[this.idx].students;
          this.status = this.$store.getters.courses[this.idx].status;
        }
        else {
          this.$router.push({ path: '/'});
        }

    },
    mounted() {
      // console.log(">>>>LS2", JSON.parse(localStorage.getItem("courses")));
    },

    methods: {
      addStudent() {
        this.$router.push({ name: 'add_student', params: {id: this.idx}});
      },
      goToEdit(id) {
        this.$router.push({ name: 'edit_student', params: { id: id, idx: this.idx}});
      },
      getStatus: function(flag) {
        return flag ? "Active" : "Inactive";
      },
      onDelete(event) {
        let curElId = Number(event.target.closest(".b-table__list-item").id);
        
        this.$store.dispatch('removeItem', {key: 'students', idxCourse: this.idx, idxStudents: curElId});
        localStorage.setItem("courses", JSON.stringify(this.$store.getters.courses));
        event.target.closest(".b-table__list-item").remove();
      }
        
    },
  }
</script>

<style lang="scss">
    .b-user_status_active {
        color: green;
    }
    .b-user_status_inactive {
        color: red;
    }
</style>
