<template>
  <div id="app">
    <div class="layout">
        <router-view></router-view>
    </div>
  </div>
</template>

<script>
  import AppList from './components/coursesList.vue';

  export default {
    name: 'app',
    
    data: () => ({      
    }),    

    created() {     
     
    },

    methods: {
    },

    components: {
      AppList,
    }

    
  }

</script>

<style lang="scss">
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  color: #2c3e50;
}
.layout {
  padding: 20px;
}

h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}
.control-panel__wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.search__wrapper {
  min-width: 300px;
}
</style>
